*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


ul{
    list-style: none;
}

a{
    text-decoration-line: none;
}


.container{
    width: calc(100% - 330px);
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
}


.list ul{
    display: flex;
   gap:60px;
}


.icons ul{
    display: flex;
    gap: 24px;
}

.list a{
    color: #3A3845;
}

.header{
    padding: 31.48px 0;
}

.menu{display: none;}

@media screen and (min-width:320px) and (max-width:600px){
    .container{ width: calc(100% - 40px);}
    .list{display: none;}
     .icon_hidden {display: none;}
     .menu{ display: block;}
}


.collections .row{
    gap: 30px;
}

.collection{
    text-align: center;
    width: calc((100% - 90px) / 4);
}

.header .row{
      justify-content: space-between;
}

.collection img{
    width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 991px){
   .collection{width: calc((100% - 30px) / 2);} 
}

@media screen and (min-width: 330px) and (max-width: 599px){
   .collection{width: 100%;} 
}